.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --VeryDarkGray: hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
  font-family: Rubik;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}
.contentbg {
  width: 100%;
  height: 100%;
  max-height: 720px;
  max-width:1300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}





.contentbg_md{
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contentbg_top {
  width: 100%;
  height: 100%;
  max-height: 250px;
  background-image: url("../images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  padding-top: 30px;
}
.contentbg_button{
  flex-grow: 1;
  
  width: 100%;
  height: fit-content;
}
#map {
  width: 100%;
  height: 100%;
  background-color: aqua;
  z-index: 0;
}


.modal{
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  max-height: 145px;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
justify-content: center;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.modal ul li {
  list-style: none;
  color: var(--DarkGray);
  font-weight: 500;
  font-size: 0.6rem;
  letter-spacing: 1px;
  height: 40%;
  padding-left: 2em;

}
.modal ul li p{
  margin-top: 1em;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--VeryDarkGray)
}
.modal ul li:not(:first-child) {

  
  
  border-left: solid 1px var(--DarkGray);
}
.modal ul li:last-child{
margin-right: 2em;
}


.input_Group{
  max-width: 500px;
  padding-top: 1em;
display: flex;
align-items: center;
width:100%;
height: 55px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inputText{
  display: block;
  background-color: white;
  padding: 1em;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  font-size: 18px;
}
.bt{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--VeryDarkGray);
  height: 100%;
  width: 50px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  color: aliceblue;
  text-decoration: none;
}

.leaflet-control-zoom,.leaflet-control-attribution{
  display: none !important;
}

@media (max-width: 900px) {
  body{
    overflow: hidden;
    max-width:100vw ;
    max-height: 100vh;
    flex-direction: column;
  align-items: center;
  justify-content: start;
  }
  .contentbg{
    max-height: calc(100vh - 20px );
  }

  .contentbg_button{
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 17, 255);
}


  .modal{
    max-width: 90%;
    max-height: 300px;
    top:-100px;
    
  }
  .modal ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  
}
.modal ul li:not(:first-child) {

  border:none;
}
.modal ul li p,h3{
text-align: center;
}
.input_Group{
  max-width: 90%;
}}