
.LogoNavbar{
  
padding-top: 1.55em;
padding-left: 1.5em;


}
.NavBar {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 2em;
  background: #97979731;
  backdrop-filter: blur(10px);

}

.MenuCheckbox {
  display: none;
}

.NavBar > div > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
    

  align-items: center;
  justify-content: space-between;
  width: 50vmax;
  height: 50px;
}

.NavBarItems > a {
  font-size: 1em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  list-style: none;

  font-weight: 400;
}

.NavBarItems > a>span{
  font-weight: 900;
  font-family: 'Barlow Condensed', sans-serif;
  margin-right: 0.7em;
  color: rgb(255, 255, 255);
 }
 @media screen and (min-width: 700px) and (max-width:1200px) {
  .NavBarItems > a>span{
    display: none;
  }
}

.active{
  color: rgba(255, 0, 0, 0.548);
  padding-bottom: calc(2em - 3px);
  border-bottom: solid 3px rgba(255, 255, 255, 0.548);

}


.NavBarItems:hover > a> span,.NavBarItems:hover > a {
  color: rgba(255, 255, 255, 0.555);
}



.NavbarWarp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;


  }

  .NavBarItemsInfo{display: none;}



@media screen and (max-width: 700px) {
  
  .NavBar {

    overflow: hidden;

    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    background:transparent;
    backdrop-filter: none;
  }





  .NavBar > div > ul {
position: fixed;
right: 0;

width: 65vw;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    align-items: flex-start;
    padding-top: 7em;
    padding-left: 2.5em;
    z-index: 5;
    background: #97979734; 
    backdrop-filter: blur(15px);
    overflow: hidden;
    animation: menuAnimR 300ms linear forwards;
    -webkit-animation: menuAnimR 300ms linear forwards;
    
}




  .NavBarItems  {
    width: 100%;
    margin-top: 3em;
  
    
  }
  .NavBarItems>.active  {
    padding-bottom: 0;
    border-bottom: none;
    display: block;
    border-right: solid 3px rgba(255, 255, 255, 0.548);

  
  
  }

  
  .Menu {
    position: absolute;
    z-index: 6;
    top: 40px;
    right: 30px;

    height: 25px;
    width: 25px;

    cursor: pointer;

  }
  .Menu:before,
  .Menu:after,
  .Menu div {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 4px;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.5s;
  }

  .MenuCheckbox:checked ~ label > div {
    transform: scale(0);
  }

  .MenuCheckbox:checked ~ label::before {
    transform: translateY(7px) rotate(135deg);
    -webkit-transform: translateY(7px) rotate(135deg);
    -moz-transform: translateY(7px) rotate(135deg);
    -ms-transform: translateY(7px) rotate(135deg);
    -o-transform: translateY(7px) rotate(135deg);
}
  .MenuCheckbox:checked ~ label::after {
    transform: translateY(-7px) rotate(-135deg);
    -webkit-transform: translateY(-7px) rotate(-135deg);
    -moz-transform: translateY(-7px) rotate(-135deg);
    -ms-transform: translateY(-7px) rotate(-135deg);
    -o-transform: translateY(-7px) rotate(-135deg);
}
  .MenuCheckbox:checked ~ ul {
    animation: menuAnim 300ms linear forwards;
    -webkit-animation: menuAnim 300ms linear forwards;

  }
  .MenuCheckbox:checked ~ .NavUnderLinks {
    opacity: 1;
  }
  @keyframes menuAnim {
    0% {
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 100vh;
      opacity: 1;
    }
  }

  @keyframes menuAnimR {
    0% {
      height: 100vh;
      opacity: 1;
    }
    100% {
      height: 10px;
      opacity: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  
  .NavBar::after{
position: absolute;
content: " ";

height: 1px;
width: 37vw;
background: #9797979d;
right: 57vw;
  }

}
.NavBar::before{
  content: " ";
  width: 5vw;
}



@-moz-document url-prefix() {
  .NavBarItemsInfo{
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    bottom: 0;
  }
  @media screen and (min-width: 700px){
    
    .NavBarItemsInfo{
      display: none;
    }
  }

}